body{
	background-color: #EFF0F0;
}

.header_menuContainer{
	margin-top: -1em;
	background-image: url("../images/header_background.png");
	background-size: 100% 100%;
	width: auto;
	height: 240px;
}

.header_iconContainer
{	
	text-align: center;
	display: block;
}

.header_icon
{
	width: 190px;
	height: 250px;
}

@media all and (max-width: 480px){
	
	.header_iconContainer
	{	margin: 0;
		text-align: center;
		display: block;
	}

	.header_icon
	{
		margin: 0;
		width: 35%;
		height: 35%;
	}


}