body{
	background-color: #EFF0F0;
	display: block;
}

@font-face{
	font-family: 'League';
	src: url('../fonts/League/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
	url('../fonts/League/leaguegothic-condensed-regular-webfont.woff') format('woff');
}


.header_menuContainer{
	margin-top: -4em;
	background-image: url("../images/low6.png");
	background-position: center;
	background-size: 100% 180%;
	width: auto;
	height: 280px;
	text-align: center;
	display: block;
}

	.header_slogan{
		padding-top: 1.3em;
		font-family: 'League' , sans-serif;
		color: white;
		font-size: 4em;
	}


	.header_menuNav{
	 	height: 50px;
		top: 0;
		left: 0;
		right: 0;
		background:rgba(76,76,76,0.5);
		position: fixed;	
	}

	.header_menuItem a
	{
		text-decoration: none;
		color: #fff;
	}

	.header_menuItem a:hover
	{
		color: #aaa;
	}


	.header_tittle
	{
		font-family: 'PT Sans', sans-serif;
		font-weight: 300;
		color: white;
		font-size: 1.1em;
		padding-top: 0.9em;
		padding-left: 0.5em; 
		float: left;
		text-align: left;
		margin: 0;
		top 0;
		position: fixed;
	}

	.header_menuList{
		font-family: 'Signika', sans-serif;
		font-weight: 300;
		color: white;
		text-align: right;
	}

	.header_menuList li{
		margin: 3em;
		display: inline;
		list-style-type: none;
	}


	.header_iconContainer
	{	
		margin-top: -2em;
		display: block;
		text-align: center;
	}

	.header_icon
	{
		width: 180px;
		height: 250px;
	}

.steps_container{
	margin-top: 12em;
	background-color: #2FC0D6; 
	display: inline-block;
	width: 100%;
}
	
	.steps{
		margin-top: 1em;
		display: inline-block;
		text-align: center;
		width: 33%;
	}

	.steps img{
		width: 130px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.step_message{
		font-family: 'Signika', sans-serif;
		font-size: 1.2em;
	}

	.steps_iconTittle{
		color:white;
		font-size: 1.5em;
		font-weight: 600;
	}

		.register img{
			width: 100px;
		}

		.step_message{
		margin: 1em;
		color: white;
		}
footer
{
	display: inline-block;
	bottom: 0;
    width:100%;
    margin-top: 4em;
    margin-right: 0;
    background-color: #fff;
    font-family: 'Signika', sans-serif;
}

	.newsForm{
		display: inline-block;
		text-align: center;
		width: 49%;
		margin: 0;
	}

	.newsForm_message{
		padding-top: 2em;
		font-size: 1.1em;
		color: #444;
	}

	.footer_message_container{
		text-align: center;
		display: inline-block;
		padding-top: 3em;
		padding-bottom: 2em;
		width: 49%;
		margin: 0;
		left: 0;
		right: 0;
	}

	.footer_message{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		color: #888;
	}

	.footer_message_shareItem{
		width: 50px;
		height: 50px;
		margin: 0.3em;
	}

	.rights{
		margin-bottom: -1em;
		padding: 0.5em;
		color: #888;
		text-align: center;
		width: 100%;
	}

	.newsForm input{
			margin-top: 1em;
			border: none;
			height: 2.3em;
		}

		.newsForm_email{
			width: 90%;
		}

		.newsForm_button{
			margin-bottom: 2em;
			background-color: #666;
			border: none;
			height: 5em;
			color: white;
			width: 30%;
		}

		.newsForm_email::-webkit-input-placeholder{
			color: #555;
			text-align: center;
		}

		.newsForm_email::-moz-placeholder{
			color: #555;
			text-align: center;
		}

		.newsForm_email:-ms-input-placeholder{
			color: #555;
			text-align: center;
		}

		.newsForm_email{
			background-color: #ddd;
		}

.video_container video{
	width: 100%;
	height: 100%;
	opacity: 0.5;
}

.video{
	display: block;
	text-align: center;
	background-color: #fff;
}

#nav-mobile{
    display: none;
    background: url("../images/nav-icon.png") no-repeat center center;
    float: right;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top:0;
    opacity: .6;
}
 
    /* Agregaremos esta clase a #nav-mobile, cuando el menu mobile haya sido desplegado */
    #nav-mobile.nav-active{
        opacity: 1;
    }


@media all and (max-width: 900px){

	.steps{
		width: 32%;
	}

	.register{
		height: 100%;
	}

	#nav-mobile{ display: block; }

}


/****-----------Mobil Portrait----------------*****/

@media all and (max-width: 480px){


	.header_slogan{
		font-size: 2.8em;
		padding-top: 2em;
	}

	.header_menuContainer{
		text-align: center;
		background-size: 100% 120%;
		right: 0;
		left: 0;
		top: 0;
	}

	.header_menuList{
		text-decoration: none;
	}

	.header_menuContainer{
		height: 250px;
	}
	
	.header_iconContainer
	{	
		margin-top: 1em;
		text-align: center;
	}

	.header_icon
	{
		width: 35%;
		height: 35%;
	}

	.header_menuNav
	{
	  	background-color: #D6D6D5;
	  	height: 13.5em;
	  	position: relative;
	  	margin: 0;
	  	padding: 0;
	}

	.header_menuNav ul
	{
		margin: 0;
		padding: 0;
	}
		

	.header_menuList{
	   text-align: center;
	   position: relative;
	   margin: 0;
	   padding: 0;
	}

	.header_menuList li{
		margin: 0;
		padding: 0.6em;
		border: solid #C3C3C3 2px;
   		display: block;
	}

	.header_tittle{
		overflow: hidden;
		display: none;
	}

	.steps_container{
		margin-top: 9em;
		left: 0;
		right: 0;
	}


	.steps{
		position: relative;
		margin: 3em 0 0 0;
		width: 100%;
		text-align: center;
	}


	.steps:after{
		content: "";
	  	position: absolute;
	  	height: 1em;
	  	left: 0;
	  	width: 100%;
	  	border-top: solid white 0.3em;
	}

	.video
	{
		display: none;
	}

	.popular{
		display: none;
	}

footer{
	background-color: #EFF0F0;
}

.newsForm{
	background-color: #FFF;
	width: 100%;
}

.newsForm input{
		margin-top: 1em;
		border: none;
		width: 95%;
		height: 2.3em;
	}

	.newsForm_button{
		margin-bottom: 2em;
		background-color: #666;
		border: none;
		height: 5em;
		color: white;
	}

	.newsForm_email::-webkit-input-placeholder{
		color: #555;
		text-align: center;
	}

	.newsForm_email::-moz-placeholder{
		color: #555;
		text-align: center;
	}

	.newsForm_email:-ms-input-placeholder{
		color: #555;
		text-align: center;
	}

	.newsForm_email{
		background-color: #ddd;
	}

	.footer_message_container{
		background-color: #EFF0F0;
		text-align: center;
		width: 100%;
	}

		.footer_message{
			text-align: center;
			margin: 2em;
		}

	.rights{
		text-align:center;
	}


}