<!DOCTYPE html>
<html lang="en" ng-app="gifter">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Signika:700,300,400,600' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<title>Gifter</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/normal.css">
	<link rel="stylesheet" type="text/css" href="css/shop.css">
	<link rel="stylesheet" type="text/css" href="css/normalizer.css">
</head>
<nav class="header_menuNav">
<a class="nav-mobile" id="nav-mobile" href="#"></a>
	<ul class="header_menuList">
		<li class="header_menuItem"><a href="#">Galeria</a></li>
		<li class="header_menuItem"><a href="#">Tienda</a></li>
		<li class="header_menuItem"><a href="#">Acerca</a></li>
		<li class="header_menuItem"><a href="#">Contacto</a></li>
		<li class="header_menuItem"><a href="#" class="header_menuLogin">Login</a></li>
	</ul>
</nav>
<header class="header_menuContainer">
	<p class="header_tittle ">Gifter</p>
	<p class="header_slogan">Una nueva forma de dar un regalo</p>
	<figure class="header_iconContainer">
		<a href="home.html">
			<img src="images/Logo-Gifter.png" class="header_icon"/>
		</a>
	</figure>
</header>
<body> 
<section class="popular" ng-controller="popularController">
	<article class="popular_cont" ng-repeat="item in populars">
		<figure class="popular_imageContainer">
			<img src="{{item.image}}" alt="" class="popular_popularImage">
		</figure>
		<article class="popular_container">
			<h2 class="popular_tittle">{{item.tittle}}</h2>
			<p class="popular_message">{{item.description}}</p>
		</article>
		<div class="popular_rankingContainer">
			<img src="images/star.svg" alt="" class="popular_rankingImage">
			<p class="popular_rankingVotes">{{item.price}}</p>
		</div>
	</article>
</section>
<section class="shop_container" ng-controller="giftController">
	<article class="shop_item" ng-repeat="item in items">
		<h3 class="shop_itemTittle">{{item.tittle}}</h3>
		<figure class="shop_imageContainer">
			<img src="{{item.image}}" alt="item shop" class="shop_itemImage">
		</figure>
		<p class="shop_itemDescription">{{item.description}}</p>
		<p class="shop_itemPrice">{{item.price}}</p>
	</article>
</section>
	<footer>
		<section class="newsForm">
			<p class="newsForm_message">Resive noticias de nuevos regalos y actualizaciones</p>
			<form action="" class="newForm_form">
				<input type="text" placeholder="Email" class="newsForm_email">
				<input type="submit" class="newsForm_button">
			</form>
		</section>
		<section class="footer_message_container">
			<p class="footer_message">Crea, Imagina, Comparte. Con gifter puedes
			crear un recuerdo para esa persona especial
			y asi recrear esa experiencia y comunicarle
			el aprecio que se tiene.</p>
			<div class="footer_message_shareContainer">
				<img src="images/icons/youtube.png" alt="" class="footer_message_shareItem">
				<img src="images/icons/twitter.png" alt="" class="footer_message_shareItem">
				<img src="images/icons/facebook.png" alt="" class="footer_message_shareItem">
				<img src="images/icons/flickr.png" alt="" class="footer_message_shareItem">
				<img src="images/icons/pinterest.png" alt="" class="footer_message_shareItem">
			</div>
		</section>
		<section class="rights">
			<p class="rights_text">© RedPanda Development Studio. All rights reserved.</p>
		</section>
	</footer>
</body>
</html>